<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{'/show/' + ${bill.customer.id}}"
					class="btn btn-light btn-xs">&laquo; go back</a>
					<a class="btn btn-danger btn-xs float-right mx-2" th:href="@{'/bill/show/' + ${bill.id}(format=pdf)}"
					>Export PDF</a>
					<a class="btn btn-success btn-xs float-right" th:href="@{'/bill/show/' + ${bill.id}(format=xlsx)}"
					>Export Excel</a>
				</h4>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary" th:text="'Customer Information'"></li>
					<li class="list-group-item list-group-item" th:text="${bill.customer}"></li>
					<li class="list-group-item list-group-item" th:text="${bill.customer.email}"></li>
				</ul>
				
				<ul class="list-group">
					<li class="list-group-item list-group-item-success" th:text="'Bill Information'"></li>
					<li class="list-group-item list-group-item" th:text="'ID:' + ${bill.id}"></li>
					<li class="list-group-item list-group-item" th:text="'Description:' + ${bill.description}"></li>
					<li class="list-group-item list-group-item" th:text="'Create At:' + ${bill.createAt}"></li>
				</ul>
				
				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(bill.billItems)}"
					th:text="'Bill has not lines' + ${bill.description}"></div>

				<table th:if="${not #lists.isEmpty(bill.billItems)}"
					class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<th>Product</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row: ${bill.billItems}">
							<td th:text="${row.product.name}"></td>
							<td th:text="${row.product.price}"></td>
							<td th:text="${row.quantity}"></td>
							<td th:text="${row.calculateValue()}"></td>
						</tr>
					</tbody>

				</table>
				
				<h5 class="float-right">
					Total <span th:text="${bill.total}"
						class="badge badge-secondary"></span>
				</h5>

				<div class="card border-info mb-4" style="max-width: 20rem;">
					<div class="card-header">Observations</div>
					<div class="card-body">
						<p class="card-text" th:text="${bill.observation}"
							th:if="${not #strings.isEmpty(bill.observation)}"></p>
						<h4 class="card-title"
							th:if="${#strings.isEmpty(bill.observation)}"
							th:text="'No observations'"></h4>
					</div>
				</div>

				<a th:href="@{'/show/' + ${bill.customer.id}}"
					class="btn btn-light btn-xs">&laquo; go back</a>


			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript"
		th:replace="bill/js/autocomplete-products :: javascript"></script>
</body>
</html>