<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header">Error: Access Denied!</div>
			<div class="card-body">
				<h5 class="card-title">
					We are sorry <span th:text="${#authentication.name}"></span>,
					You dont have the rigth permissions to access this resource.
				</h5>
				<a th:href="@{/list}" class="btn btn-outline-light" role="button">Go to index</a>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>