<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-primary btn-xs" th:href="@{/form}">Create
						Customer</a>
				</h4>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>lastname</th>
						<th>email</th>
						<th>create_at</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer: ${customers}">
						<td th:text="${customer.id}"></td>
						<td th:text="${customer.name}"></td>
						<td th:text="${customer.lastname}"></td>
						<td th:text="${customer.email}"></td>
						<td th:text="${customer.createAt}"></td>
						<td><a class="btn btn-primary btn-xs"
							th:href="@{/form/} + ${customer.id}" th:text="'edit'"></a> <a
							class="btn btn-danger btn-xs"
							th:href="@{/delete/} + ${customer.id}" th:text="'delete'"
							onclick="return confirm('Are you sure?')"></a></td>
					</tr>
				</tbody>
			</table>
			<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>