<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')"
						class="btn btn-primary btn-xs" th:href="@{/form}">Create
						Customer</a>
					<a class="btn btn-success btn-xs float-right" th:href="@{'/list'(format=csv)}">CSV</a>
					<a class="btn btn-outline-success btn-xs float-right" th:href="@{'/list'(format=xml)}">XML</a>
					<a class="btn btn-outline-warning btn-xs float-right" th:href="@{'/list'(format=json)}">JSON</a>
				</h4>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>id</th>
						<th th:text="#{text.customer.name}">name</th>
						<th th:text="#{text.customer.lastname}">lastname</th>
						<th th:text="#{text.customer.email}">email</th>
						<th th:text="#{text.customer.createAt}">create_at</th>
						<th sec:authorize="hasRole('ROLE_USER')">actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer: ${customers}">
						<td th:text="${customer.id}"></td>
						<td th:text="${customer.name}"></td>
						<td th:text="${customer.lastname}"></td>
						<td th:text="${customer.email}"></td>
						<td th:text="${customer.createAt}"></td>
						<td><a sec:authorize="hasRole('ROLE_ADMIN')"
							class="btn btn-primary btn-xs"
							th:href="@{/bill/form/} + ${customer.id}" th:text="'Create Bill'"></a>
							<a sec:authorize="hasRole('ROLE_USER')"
							class="btn btn-primary btn-xs"
							th:href="@{/show/} + ${customer.id}" th:text="'show'"></a> <a
							sec:authorize="hasRole('ROLE_ADMIN')"
							class="btn btn-primary btn-xs"
							th:href="@{/form/} + ${customer.id}" th:text="'edit'"></a> <a
							sec:authorize="hasRole('ROLE_ADMIN')"
							class="btn btn-danger btn-xs"
							th:href="@{/delete/} + ${customer.id}" th:text="'delete'"
							onclick="return confirm('Are you sure?')"></a></td>
					</tr>
				</tbody>
			</table>
			<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>